.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.title span {
  color: #e74055;
}

.button {
  color: #fff;
  font-size: 2em;
  padding: .4em 2em;
  margin: 4em;
  border-radius: 4px;
  border-style: none;
  background-image: linear-gradient(105deg, #2b5993 3%, #00aef0 100%);
  transition: 0.25s;
}

.button:hover,
.button:focus,
.button:active {
  cursor: pointer;
  box-shadow: inset 0 -3.25em 0 #2b5993;
  transform: translateY(-0.1em);
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
  transform: translateY(-0.1em);
}

.logo {
  height: 2em;
}
